/*
Marina #135589
Bondi Blue #2A93D5
Californian Coral #3DDAD7
Chill #AED9DA
Glass #EDFAFD
*/

body {
    font-size: 16pt;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.inventory_class {
    padding: 0.25em 0 0 0 !important;
    margin: 0;
}

.inventory_table {
    margin: 0;
    border-collapse: collapse;
}

.inventory_table th {
    background-color: #AED9DA;
    border: 1px dotted black;
}

.inventory_table td {
    border: 1px dotted black;
}

.late {
    color: red;
}

#loans_table {
    border: 1px dotted grey;
}

#loan_entry_table td input {
    width: 100%;
}

#loan_controls {
    display: inline;
}

.loan_control {
    background-color: #135589;
    color: white;
}

#loan_entry_table td {
    vertical-align: top;
}

.modified {
    color: white;
    background-color: #135589;
}

#progress_dialog {
}

.scroll_container {
    height: 60%;
    overflow: scroll;
}

#settings {
    float: right;
}

.store_tab {
    padding: 0.1em !important;
}

.time_display {
    width: 100%;
    color: white;
    background-color: #135589;
}

th.input_label {
    text-align: right;
}

table.zebra > tbody > tr:nth-child(odd) {
    background-color: #3DDAD7;
}

table.zebra > tbody > tr:nth-child(even) {
    background-color: #AED9DA;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 18pt;
}

table td,th {
    white-space: nowrap;
    padding: 0.5em;
    text-align: left;
}

#Whereis_tab {
    margin-top: 1em;
}

.widest {
    width: 100%;
}
