/*
Marina #135589
Bondi Blue #2A93D5
Californian Coral #3DDAD7
Chill #AED9DA
Glass #EDFAFD
*/

body {
    font-size: 16pt;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/* Applied to each page in an inventory */
.inventory_class {
    padding: 0.25em 0 0 0 !important;
    margin: 0;
}

/* The table within an inventory page */
.inventory_table {
    margin: 0;
    border-collapse: collapse;
}

.inventory_table th {
    background-color: #AED9DA;
    border: 1px dotted black;
}

.inventory_table td {
    border: 1px dotted black;
}

.loan_late {
    color: red;
}

.loan_table {
    border: 1px dotted grey;
}

#loan_controls {
    display: inline;
}

/* A single cell in a loan table */
.loan_cell {
    width: 100%;
    height: 100%;
}

.loan_control {
    background-color: #135589;
    color: white;
}

.modified {
    color: white;
    background-color: #135589;
}

#progress_dialog {
}

.scroll_container {
    height: 60%;
    overflow: scroll;
}

/* Gear icon */
#settings {
    float: right;
}

/* An element that displays the current time */
.time_display {
    width: 100%;
    color: white;
    background-color: #135589;
}

th.input_label {
    text-align: right;
}

table.zebra > tbody > tr:nth-child(odd) {
    background-color: #3DDAD7;
}

table.zebra > tbody > tr:nth-child(even) {
    background-color: #AED9DA;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 18pt;
}

table td,th {
    white-space: nowrap;
    padding: 0.5em;
    text-align: left;
}

.ui-tabs-vertical {
/*    width: 55em;*/
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
/*    width: 12em;*/
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
/*    width: 40em;*/
}

#Whereis_tab {
    margin-top: 1em;
}

.widest {
    width: 100%;
}
